body {
    background-color: rgb(33, 33, 36);
}

h1 {
    background-color: rgb(191, 191, 208);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
}

h2 {
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
}

.container {
    display: grid;
    grid-template-rows: auto;
}

.item1 {
    border: 9px solid black;
    grid-column: 1 / 4;
}

.item2 {
    border: 9px solid black;
    grid-column: 1 / 4;
}

.responsive-image {
    width: 100%;
    height: auto;
}

@media (max-width: 500px) {
    .responsive-image {
        content: url('gg.jpg');
    }

    body {
        background-color: rgb(11, 141, 184);
    }
}